image: docker:latest

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TEST_IMAGE: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$CI_COMMIT_SHA
  DOCKER_CACHE_IMAGE: $CI_REGISTRY_IMAGE:latest
  DOCKER_IMAGE: $CI_REGISTRY_IMAGE:$CI_PIPELINE_IID
  GIT_STRATEGY: none

stages:
  - build
  - test
  - publish
  - deploy

build:
  stage: build
  variables:
    GIT_DEPTH: 5
    GIT_STRATEGY: fetch
  services:
    - docker:dind
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - docker pull $DOCKER_CACHE_IMAGE || true
    - docker build --cache-from $DOCKER_CACHE_IMAGE -t $DOCKER_TEST_IMAGE -t $DOCKER_CACHE_IMAGE --target test -f deploy/Dockerfile .
    - cat deploy/.dockerignore.production >> .dockerignore
    - docker build --cache-from $DOCKER_CACHE_IMAGE -t $DOCKER_IMAGE --target production -f deploy/Dockerfile .
    - docker push $DOCKER_TEST_IMAGE
    - docker push $DOCKER_IMAGE
    - docker push $DOCKER_CACHE_IMAGE

quality:
  image: $DOCKER_TEST_IMAGE
  stage: test
  script:
    - cd /app
    - export PATH="$PATH:$HOME/.poetry/bin"
    - make check_quality

test:
  image: $DOCKER_TEST_IMAGE
  stage: test
  variables:
    DJANGO_ENV: test
  services:
    - postgres
  script:
    - cd /app
    - pytest -n auto --dist=loadscope --cov=apps --cov-report=html:coverage_html
    - mkdir $CI_PROJECT_DIR/coverage
    - coverage report -m > $CI_PROJECT_DIR/coverage/report.log
    - cat $CI_PROJECT_DIR/coverage/report.log | tail -n 1
    - mv coverage_html $CI_PROJECT_DIR/coverage/html
  coverage: '/TOTAL.+ ([0-9]{1,3}%)/'
  artifacts:
    paths:
      - coverage

publish_master:
  stage: publish
  dependencies: []
  services:
    - docker:dind
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - docker pull $DOCKER_IMAGE
    - docker tag $DOCKER_IMAGE $CI_REGISTRY_IMAGE:dev
    - docker push $CI_REGISTRY_IMAGE:dev
  only:
    - master

deploy_master:
  image: dtzar/helm-kubectl:2.16.1
  stage: deploy
  dependencies: []
  variables:
    GIT_DEPTH: 5
    GIT_STRATEGY: fetch
  before_script:
    - kubectl config set-cluster prod --server="${K8S_URL}" --insecure-skip-tls-verify
    - kubectl config set-credentials deploy --token="$K8S_TOKEN"
    - kubectl config set-context default-context --cluster=prod --user=deploy
    - kubectl config use-context default-context
    - helm init --client-only
    - cd deploy/helm
    - helm repo update
  script:
    - export RELEASE_NAME=team-projector--backend
    - export DEPLOYS=$(helm ls | grep $RELEASE_NAME | wc -l)
    - if [ ${DEPLOYS} -eq 0 ]; then helm install --set image.tag=$CI_PIPELINE_IID --name=${RELEASE_NAME} -f $K8S_HELM_OVERRIDES --namespace $K8S_NS . ; else helm upgrade ${RELEASE_NAME} --set image.tag=$CI_PIPELINE_IID -f $K8S_HELM_OVERRIDES --namespace $K8S_NS .; fi
  environment:
    name: production
    url: $SITE_ADDRESS
  only:
    - master

