image: docker:latest

variables:
  DOCKER_TEST_IMAGE: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$CI_COMMIT_SHA
  DOCKER_CACHE_IMAGE: $CI_REGISTRY_IMAGE:latest
  DOCKER_IMAGE: $CI_REGISTRY_IMAGE:$CI_PIPELINE_IID
  GIT_STRATEGY: none

stages:
  - build
  - test
  - publish
  - deploy

build:
  stage: build
  variables:
    GIT_DEPTH: 5
    GIT_STRATEGY: fetch
  services:
    - docker:dind
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - docker pull $DOCKER_CACHE_IMAGE || true
    - docker build --cache-from $DOCKER_CACHE_IMAGE -t $DOCKER_TEST_IMAGE -t $DOCKER_CACHE_IMAGE --target test -f deploy/Dockerfile .
    - cat deploy/.dockerignore.production >> .dockerignore
    - docker build --cache-from $DOCKER_CACHE_IMAGE -t $DOCKER_IMAGE --target production -f deploy/Dockerfile .
    - docker push $DOCKER_TEST_IMAGE
    - docker push $DOCKER_IMAGE
    - docker push $DOCKER_CACHE_IMAGE

.quality:
  image: $DOCKER_TEST_IMAGE
  stage: test
  script:
    - cd /app
    - export PATH="$PATH:$HOME/.poetry/bin"
    - make check_quality

.test:
  image: $DOCKER_TEST_IMAGE
  stage: test
  variables:
    DJANGO_ENV: test
  services:
    - postgres
  script:
    - cd /app
    - pytest -n auto --dist=loadscope --cov=server --cov-report=html:coverage_html
    - mkdir $CI_PROJECT_DIR/coverage
    - coverage report -m > $CI_PROJECT_DIR/coverage/report.log
    - cat $CI_PROJECT_DIR/coverage/report.log | tail -n 1
    - mv coverage_html $CI_PROJECT_DIR/coverage/html
  coverage: '/TOTAL.+ ([0-9]{1,3}%)/'
  artifacts:
    paths:
      - coverage

publish_master:
  stage: publish
  dependencies: []
  services:
    - docker:dind
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - docker pull $DOCKER_IMAGE
    - docker tag $DOCKER_IMAGE $CI_REGISTRY_IMAGE:master
    - docker push $CI_REGISTRY_IMAGE:master
  only:
    - master

deploy_master:
  image: junte/helm-deploy:1.3-helm2.16.1
  stage: deploy
  dependencies: []
  variables:
    GIT_DEPTH: 5
    GIT_STRATEGY: fetch
    HELM_IMAGE_TAG: $CI_PIPELINE_IID
  script:
    - helm_deploy
  environment:
    name: production
    url: $SITE_ADDRESS
  only:
    - master

deploy_demo:
  image: junte/helm-deploy:1.3-helm2.16.1
  stage: deploy
  dependencies: []
  variables:
    GIT_DEPTH: 5
    GIT_STRATEGY: fetch
    HELM_IMAGE_TAG: $CI_PIPELINE_IID
  script:
    - echo $HELM_NAMESPACE
    - echo $HELM_RELEASE
#    - helm_deploy
  environment:
    name: demo
    url: $DEMO_SITE_ADDRESS
  only:
    - demo
