*.py[cod]
.idea/
.venv
.mypy_cache
.pytest_cache
*.iml
run/
*.mo
development.py
htmlcov
.coverage
# we use pytest.ini in development only - it has higher precedence
# than setup.cfg for pytests
pytest.ini
