[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2-binary" = "*"
Django = "*"
uWSGI = "*"
djangorestframework = "*"
django-rest-swagger = "==2.1.2"
django-cors-headers = "*"
django-split-settings = "*"
django-model-utils = "*"
python-gitlab = "*"
celery = "*"
flower = "*"
redis="==2.10.6"
xlsxwriter = "*"
python-dateutil = "*"
django-admin-autocomplete-filter = "*"

[dev-packages]
"flake8" = "*"
pytest-django = "*"
ipython = "*"

[requires]
python_version = "3.6"
