[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2-binary" = "*"
Django = "*"
uWSGI = "*"
djangorestframework = "*"
django-rest-swagger = "==2.1.2"
django-cors-headers = "*"
django-split-settings = "*"
django-model-utils = "*"
python-gitlab = "*"
celery = "*"
flower = "*"
redis = "*"
xlsxwriter = "*"
python-dateutil = "*"
django-admin-autocomplete-filter = "*"
django-extensions = "*"
factory-boy = "*"
django-filter = "*"
social-auth-core = "*"
social-auth-app-django = "*"
python-decouple = "*"
django-health-check = "*"
tornado = "==5.*"
django-bitfield = {git = "https://github.com/Junte/django-bitfield.git#v1.9.5",editable = true}

[dev-packages]
"flake8" = "*"
pytest-django = "*"
ipython = "*"
mypy = "*"
xenon = "==0.5.4"

[requires]
python_version = "3.6"
