from server import BASE_DIR

DEBUG = True
ALLOWED_HOSTS = ['*']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '...',
        'USER': '...',
        'PASSWORD': '...',
        'HOST': '...'
    }
}

CELERY_TASK_ALWAYS_EAGER = True

STATIC_ROOT = BASE_DIR.joinpath('static')

SECRET_KEY = 'dev'

GITLAB_TOKEN = '...'

SLACK_TOKEN = '...'
